<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <link rel="stylesheet" href="./public/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="./public/favicon.ico">
    <title>IMDB</title>
</head>
<body>
  <header>
    <h1>IMDB MOVIES</h1>
  </header>

  <main>
    <div>
      <button class="button add_movie_button" onclick="openForm()">Add Movie</button>
    </div>
    <div>   
      <form action="/search" method="POST">    
        <input type="text" id="search_text" name="search_text" class="search_bar" placeholder="Type to search"> 
        <button type="submit" class="button">Search</button>
      </form>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Rank</th>
      </tr>
      <% table_data[0].forEach(function(row) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.year %></td>
          <td><%= row.rank %></td>
          <td>   
            <button class="button edit_button" onclick="openEditForm('<%= row.id %>', '<%= row.name %>', '<%= row.year %>', '<%= row.rank %>')">Edit</button> 
            <form action="/delete" method="POST">
              <input type="hidden" name="id" value="<%= row.id%>">
              <input type="hidden" name="year" value="<%= row.year%>">
              <button class="button delete_button">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
      <% table_data[1].forEach(function(row) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.year %></td>
          <td><%= row.rank %></td>
          <td>
            <button class="button edit_button" onclick="openEditForm('<%= row.id %>', '<%= row.name %>', '<%= row.year %>', '<%= row.rank %>')">Edit</button> 
            <form action="/delete" method="POST">
              <input type="hidden" name="id" value="<%= row.id%>">
              <input type="hidden" name="year" value="<%= row.year%>">
              <button class="button delete_button">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </table>
  </main>
    
  <footer>
    <p>STADVDB MCO2 - Group 2</p>
    <p>Castro, Steven Jentyn S12</p>
    <p>Sillona, John Eugene S11</p>
    <p>Silverio, Gwyneth Alysson S12</p>
  </footer>

  <script>
    function openForm() {
      var width = 500
      var height = 600
      var left = (screen.width / 2) - (width / 2);
      var top = (screen.height / 2) - (height / 2);
      window.open("/form", "Form", `width=${width}, height=${height}, left=${left}, top=${top}`);
    };

    function openEditForm(id, name, year, rank) {
      var edit_id = parseInt(id);
      var edit_name = name;
      var edit_year = parseInt(year);
      var edit_rank = parseFloat(rank);

      var width = 500, height = 600
      var left = (screen.width / 2) - (width / 2);
      var top = (screen.height / 2) - (height / 2);

      var edit_form = window.open('editform', 'Edit', `width=${width}, height=${height}, left=${left}, top=${top}`);
      edit_form.onload = () => {
        var id_element = edit_form.document.getElementById('editid_text');
        var name_element = edit_form.document.getElementById('editname_text');
        var year_element = edit_form.document.getElementById('edityear_text');
        var rank_element = edit_form.document.getElementById('editrank_text');
        var orig_year_element = edit_form.document.getElementById('orig_year');

        id_element.value = edit_id;
        name_element.value = edit_name;
        year_element.value = edit_year;
        orig_year_element.value = edit_year;
        if (rank != NaN) {
          rank_element.value = edit_rank;
        } 
      };
    };
  </script>
</body>
</html>