<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <link rel="stylesheet" href="./public/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="./public/favicon.ico">
    <title>IMDB</title>
</head>
<body>
  <header>
    <h1>IMDB MOVIES</h1>
  </header>

  <main>
    <div>   
      <form action="/search" method="POST">
        <button class="button add_movie_button" onclick="openForm()">Add Movie</button>
        <input type="text" id="search_text" name="search_text" class="search_bar" placeholder="Type to search"> 
        <button type="submit" class="button">Search</button>
      </form>
    </div>

    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Rank</th>
      </tr>
      <% table_data[0].forEach(function(row) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.year %></td>
          <td><%= row.rank %></td>
          <td>   
            <button class="button edit_button" onclick="openEditForm(<%= row.id %>)">Edit</button> 
            <button class="button delete_button">Delete</button>
          </td>
        </tr>
      <% }); %>
      <% table_data[1].forEach(function(row) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.year %></td>
          <td><%= row.rank %></td>
          <td>
            <button class="button edit_button" onclick="openEditForm(<%= row.id %>)">Edit</button> 
            <button class="button delete_button">Delete</button>
          </td>
        </tr>
      <% }); %>
    </table>
  </main>
    
  <footer>
    <p>STADVDB MCO2 - Group 2</p>
    <p>Castro, Steven Jentyn S12</p>
    <!-- <p>Sillona, John Eugene S11</p> -->
    <p>Silverio, Gwyneth Alysson S12</p>
  </footer>

  <script>
    function openForm() {
      var width = 500
      var height = 600
      var left = (screen.width / 2) - (width / 2);
      var top = (screen.height / 2) - (height / 2);
      window.open("/form", "Form", `width=${width}, height=${height}, left=${left}, top=${top}`);
    }

    function openEditForm(id) {
      console.log(id)
      var width = 500
      var height = 600
      var left = (screen.width / 2) - (width / 2);
      var top = (screen.height / 2) - (height / 2);
      var popupwindow = window.open("/editform", "Form", `width=${width}, height=${height}, left=${left}, top=${top}`);
      console.log(popupwindow)
      popupwindow.onload = function() {
        var id = popupwindow.document.getElementById(editid_text);
        id.value = id;
      }
    }
  </script>
</body>
</html>